<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/table_add.css">
</head>
<body>
    <div id="minilo" class="full" style="width: unset; position: unset;">
        <div id="miniwlo">
            <a href="M:/DiuAssign/C/SEM-4cs262/project_sms/frontend/html/f.html" id="">
                <div id="logo">
                    <p>MiniWorld</p>
                    <p id="soc">Society</p>
                </div>
            </a>
        </div>
    </div>
    <div id="body">
        <div class="cont">
            <form action="/admin/<%= table %>/add" method="post">
                <div id="filt">
                    <% col.forEach((c)=>{ %>
                        <div class="filtinp">
                            <%= c %>
                            <input class="forminp" name="<%= c %>" required value="">
                        </div>
                    <% }); %>
                    <div>
                        <input class="forminp" type="hidden" name="result" value='<%- JSON.stringify(col) %>'>
                    </div>
                    <div id="divbtn">
                        <input type="submit" id="subbtn" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>